.root{
    -fx-background: lightblue;
}

.button{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: black;
}

.check-box{
    -fx-text-fill: black;
}

.scroll-pane{
    -fx-background-color: rgb(230, 230, 230);
}

#popover {
	-fx-background-color: rgb(230, 230, 230);
	-fx-border-style: solid inside;
	-fx-border-width: 2;
	-fx-border-color: #a5a5a5;
}

#popover-title {
	-fx-fill: black;
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#popover-text {
	-fx-fill: black;
	-fx-font-weight: regular;
	-fx-font-size: 18;
}

#navigation-button:hover{
    -fx-background-color: rgb(233, 233, 233);

}#navigation-button:pressed{
    -fx-background-color: gray;
}

#sidebar{
    -fx-background-color: rgb(230, 230, 230);
}

#garden-info{
    -fx-background-color: rgb(230, 230, 230);
}